
{%extends 'security/base.html'%}
{% block content %}
  {% load static %}

  <meta name="author" content="Thomas">
 
  {% if user.is_authenticated %}
  <div class="back-home">
    <a href="{% url 'home' %}">Back home</a>
  </div>
    <div class="user">
    <h3>PEOPLE WITH VEHICLE (<span class="span">DETAILS</span>)</h3>
    </div>
    <style>
      .back-home{
        color:green;
        font-size:16px;
        margin:20px;
        padding:5px;
      }
      .back-home a{
        text-decoration:none;
        font-size: 20px;
      }
      .span{
        color:rgb(223, 12, 205);
        margin-left:0px;
        text-decoration: dotted;
        
        border-radius: 4px;
        
      }
      @media (max-width: 600px) {
      .table-container{
        width:100%;
        overflow-x: auto;
        margin:0;
        
      }
      td{
        font-size:24px;
      }
    }
    .tr :nth-child(odd){
      color:black;
    }
      
      .user{
        margin-left:10px;
        
        flex-direction: block;
        width: 100%;
        display: block;
        border-radius: 20px;
        color:blue;
        font-size: bold;
        margin-top:4px;
        padding:20px;
        text-decoration:none;
        justify-content: center;
        align-items: center;
        text-align: center;
      }


.zoomable-container {
  position: relative;
  display: inline-block;
}

.zoomable-image {
  width: 20px; /* Initial size */
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.zoomable-image.zoomed {
  width: 200px; /* Zoomed size */
  height: 200px;
}

.button {
 font-size: 20px;
 display:flex;
   border: none;
   cursor: pointer;
}
.table-container {
  overflow-x: auto;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
}


.thead{
  font-size: 20px;
color:rgb(27, 23, 23);
overflow:auto;
}






    </style>
    <div class="table-container">
      <table>
      <thead class="thead">
          <th>NO.</th>
          <th>NAME</th>
          {% if user.is_superuser and user.is_authenticated %}
            <th>ID NUMBER</th>
          {% endif %}
          <th>PHONE NUMBER</th>
          <th>VEHICLE REGISTRATION</th>
          <th>COMPANY</th>
          <th>PURPOSE</th>
          <th>TIME IN</th>
          <th>TIME OUT</th>
          <th>TIME SPENT</th>
          <th>DATE</th>
          {% if user.is_superuser and user.is_authenticated %}
            <th>ID PHOTO</th>
            <th>VEHICLE PHOTO</th>
          {% endif %}
          <th>EXIT</th>
        
      </thead>
      <tbody>
        {% for withvehicle in withvehicles %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ withvehicle.name }}</td>
            {% if user.is_superuser and user.is_authenticated %}
              <td>{{ withvehicle.id_number }}</td>
            {% endif %}
            <td>{{ withvehicle.phone_number }}</td>
            <td>{{ withvehicle.vehicle_registration }}</td>
           
            <td>{{ withvehicle.company }}</td>
            <td>{{ withvehicle.purpose }}</td>
            <td>{{ withvehicle.time_in }}</td>
            <td>{{ withvehicle.time_out }}</td>
            <td>
              {{ withvehicle.time_spent }}
            </td>
            <td>{{ withvehicle.today }}</td>
            {% if user.is_superuser and user.is_authenticated %}
              <td>
                <div class="zoomable-container">
                  <img src="{{ withvehicle.idphoto.url }}" class="zoomable-image" height="20px" width="20px">
                </div>
              </td>
              <td>
                <div class="zoomable-container">
                  <img src="{{ withvehicle.vehiclephoto.url }}" class="zoomable-image" height="20px" width="20px">
                </div>
              </td>
            {% endif %}
            <td>
              {% if not withvehicle.Exit %}
                <form action="{% url 'update_withvehicle_time_out' withvehicle.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">Exit</button>
                </form>
              {% endif %}
            </td>
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $('.flash-message').fadeOut('slow');
        }, 4000);
      });

    

      // Add click event listener to all zoomable images
      var zoomableImages = document.getElementsByClassName("zoomable-image");
      for (var i = 0; i < zoomableImages.length; i++) {
        zoomableImages[i].addEventListener("click", function() {
          if (this.classList.contains("zoomed")) {
            this.classList.remove("zoomed"); // Remove zoomed class on double click
          } else {
            this.classList.add("zoomed"); // Add zoomed class on first click
          }
        });
      }
    </script>

  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
  {% endif %}
{% endblock %}


