/* Add styles for flash messages */
.messages {
  margin: 10px 0;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.success {
  background-color: #dff0d8;
  color: #279b28;
}

/* Add styles for the header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.logo img {
  margin: 10px;
  width: 100px; /* Set the fixed width of the smallest image */
  padding: 10px; /* Padding for each image */
}

.logo .star {
  margin: 10px;
  width: 150px; /* Set the fixed width of the second image */
  padding: 15px; /* Padding for each image */
}

.logo .starr {
  margin: 10px;
  width: 200px; /* Set the fixed width of the largest image */
  padding: 20px; /* Padding for each image */
}

/* Add styles for the footer */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .logo img {
    width: 80px; /* Adjust the width of the smallest image for small screens */
    padding: 5px; /* Adjust padding for small screens */
  }

  .logo .star {
    width: 120px; /* Adjust the width of the second image for small screens */
    padding: 10px; /* Adjust padding for small screens */
  }

  .logo .starr {
    width: 160px; /* Adjust the width of the largest image for small screens */
    padding: 15px; /* Adjust padding for small screens */
  }
}
