
.header{
  display:flex;
  
  justify-content: center ; 
  border-radius: 20px;
  padding:4px;
  margin-top: 0;
}
.sender{
  
 justify-content: center; 
  
 align-items: center;
  border-radius: 20px;
  padding: 20px;;


}
.minimax{
  
  width:120px;
  height: 40px;
   box-shadow: inset;
  border-radius: 20px;
  padding:20px;
  margin:0;
  

}

.messages {
  margin: 10px 0;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.star{
  padding:20px;
  height:25px;
  width:50px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  font-weight:bold;
}
.starr{
  
  height:65px;
  width:80px;
  padding:10px;
  margin:20px
  

}
@media screen and (max-width: 768px){
 .sender{
  
  display:flex;
  flex-direction: row;
  text-decoration:none;

 justify-content: center;

 } 
 .star{
  display:block;
 }
 .starr{
  display: block;
 }
 .minimax{
  display:block;
 }
}