/* Add styles for flash messages */
.messages {
  margin: 10px 0;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.success {
  background-color: #dff0d8;
  color: #279b28;
}

/* Add styles for the header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 20px;
  background-color: white;
}

.logo .minimax {
  margin: 4px;
  max-width: 250px;
  height: auto;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 92px;
}

.logo .star {
  margin: 4px;
  max-width: 40px;
  padding-bottom: 92px;
  padding-top: 2px;
}

.logo .starr {
  margin: 4px;
  max-width: 300px;
  height: auto;
  padding-top: 2px;
  padding-bottom: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .logo img {
    width: 80px;
    padding-bottom: 20px;
    padding-top: 1%;
  }

  .logo .minimax {
    width: 30%;
    height: auto;
    padding-top: 2px;
    padding-bottom: 14%;
  }

  .logo .star {
    width: 7%;
    padding-top: 2px;
    padding-bottom: 14%;
  }

  .logo .starr {
    width: 40%;
    padding-top: 2px;
    padding-bottom: 4px;
  }
}

/* Media query for 480px screens */
@media screen and (max-width: 480px) {
  .logo img {
    width: 50px;
    padding-bottom: 15px;
    padding-top: 1%;
  }

  .logo .minimax {
    width: 40%;
    height: auto;
    padding-top: 2px;
    padding-bottom: 10%;
  }

  .logo .star {
    width: 10%;
    padding-top: 2px;
    padding-bottom: 10%;
  }

  .logo .starr {
    width: 60%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
