

/* Common styles */
.error {
  color: red;
}

.user {
  color: lightblue;
  text-align: center;
}



.form-container {
  max-width:400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom:auto;
  text-align: left;
  display: grid;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0px;
  padding:5px;
}

input[type="text"],
input[type="number"] {
  display:grid;
  grid-template-columns: auto;
  flex-direction: row;
  width: 380px;
  padding: 12px;
  border: 1px solid #88afe0;
  border-radius: 4px;
  margin-right: 2px;
}

label[for="purpose"] {
  font-weight: bold;
  width: 380;
  height: 6px;
  padding:12px;
  border-radius: 4px;
}

.submit-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.table-container {
  overflow-x: none;
  margin-top: 20px;
}

/* Specific styles for withoutvehicle.html */
.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteFrontButton {
  background-color: red;
  color: white;
  margin-top:5px;
  margin-left:150px;
  padding:2px;
  display:flex;
  flex-direction: row;

  border-radius:10px;
}

#captureFrontButton {
  background-color: rgb(58, 86, 209);
  color: white;
  border-radius:10px;
}

/* Styles for the purpose select element */
#purpose {
  width: 380px;
  height: 40px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#canvas{
  display: none;
  height:fit-content;
  width:300px;
  border-radius:10px;
}
#startCameraButton{
  background-color:black;
  border-radius: 10px;
  margin:10px;
  color:white;
}
#videoFeed{
  display:none;
  height:fit-content;
  width:380px;
  border-radius: 20px;
}
.camera{
  display:flex;
  flex-direction: column;
  align-items:center;
  border-radius: 40px;
}
#canvas,
#videoFeed {
  display: none;
  height: fit-content;
  width: 100%;
  border-radius: 10px; 
}
/*captured images */
#frontImage{
  max-width: 100%;
  margin-top: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }

  input[type="text"],
  input[type="number"],
  label[for="purpose"],
  #purpose {
    width: 100%;
  }

  .table-container {
    overflow-x: auto;
  }


  #canvas,
  #videoFeed {
    display: none;
    height: fit-content;
    width: 100%;
    border-radius: 10px; 
  }

  #deleteFrontButton {
    margin-left: 5px;
  }

  #frontImage{
    max-width: 100%;
  }
}