{%extends 'security/base.html'%}
{% block title %}Log In{% endblock title %}
{% block content %}
   {% load static %}
   <style>
form {
 max-width:500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button{
  display: flex;
  justify-content: center;
  padding:10px;
  margin:10px;
  background-color: green;
  color:white;
  border-radius: 5px;
}

   </style>
 
<div class="login-container">
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-button">Log In</button>
  </form>
  </div>
{% endblock content %}
