/* General styles */

*{margin:0;
  padding:10px;

}.container {
  text-align: center;
  display: grid;
}

.centered {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  margin: 35px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}



/* Success and error messages */
.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Styling for Success container */
#success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ED321;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* Styling for Logout container */
.logout-container {
  text-align: right;
  padding-top: 2px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.logout-button {
  color: white;
  background-color: rgb(228, 41, 41);
  padding:8px;
  margin-top:0;
  margin-right:5px;
  text-decoration:none ;
  border-radius: 20px;
  transition: 0.15s;
}
.logout-button:hover{
  background-color:rgb(235, 39, 39);
  color:white;
}
/* Styling for Registration heading */
.registration-heading {
  color: blue;
  margin-bottom: 10px;
}

/* Styling for Entry */
.Entry {
  visibility: visible;
  margin-bottom:20px;
  margin-top:12px;
}

/* Styling for user and visitor buttons */

#visitorButton {
  background-color: green;
}
#userButton{
  background-color: green;
}
#visitorButton:hover{
  background-color: rgb(162, 240, 214);
  color:rgb(36, 30, 31);
}
#userButton:hover{
  background-color: rgb(162, 240, 214);
  color:rgb(36, 30, 31);
}
/* Styling for Exit buttons */
#exitWithVehicleButton {
  background-color: purple;
  transition: 0.15s;
  opacity: 0.9;
}
#exitWithVehicleButton:hover{
  background-color: rgb(218, 196, 196);
  color: black;
}
#exitWithoutVehicleButton{
  background-color: purple;
  opacity:0.9;
  transition: 0.15s;
}

#exitWithoutVehicleButton:hover {
  background-color: rgb(218, 196, 196);
  color: black;
}



/* Styling for login button */
.login-button {
  padding: 10px 20px;
  background-color: #ff6f00; /* Bright Orange */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

/* Styling for Home div */
.home {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 25px;
  font-weight:600;
}


@media screen and (max-width: 768px) {
  /* For screen sizes 768px and below */

  .button {
    margin: 20px;
    padding: 10px 15px;
    font-size: 14px;
  }

  .home {
    padding: 10px;
    margin: 15px;
  }
}

@media screen and (max-width: 480px) {
  /* For screen sizes 480px and below */

  .button {
    margin: 15px;
    padding: 8px 12px;
    font-size: 12px;
  }

  .home {
    padding: 5px;
    margin: 10px;
  }
}