/* General styles */

*{margin:0;
  padding:10px;

}.container {
  text-align: center;
  display: grid;
}

.centered {
  text-align: center;
}

.button {
  display: flex;
  padding: 12px 20px;
  margin: 35px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}



/* Success and error messages */
.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Styling for Success container */
#success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ED321;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* Styling for Logout container */



/* Styling for Registration heading */
.registration-heading {
  color: blue;
  margin-bottom: 10px;
}

/* Styling for Entry */
.Entry {
  visibility: visible;
  margin-bottom:20px;
  margin-top:12px;
}

/* Styling for user and visitor buttons */

#visitorButton {
  background-color: green;
}
#userButton{
  background-color: green;
}
#visitorButton:hover{
  background-color: rgb(162, 240, 214);
  color:rgb(36, 30, 31);
}
#userButton:hover{
  background-color: rgb(162, 240, 214);
  color:rgb(36, 30, 31);
}
/* Styling for Exit buttons */
#exitWithVehicleButton {
  background-color: purple;
  transition: 0.15s;
  opacity: 0.9;
}
#exitWithVehicleButton:hover{
  background-color: rgb(218, 196, 196);
  color: black;
  text-decoration: none;
}
#exitWithoutVehicleButton{
  background-color: purple;
  opacity:0.9;
  transition: 0.15s;
  text-decoration: none;
}

#exitWithoutVehicleButton:hover {
  background-color: rgb(218, 196, 196);
  color: black;
  text-decoration: none;
}



/* Styling for login button */


